/* Layout */

/* Small-grid (6 columns) (for tablets - 768 to 1280px) */

@media (min-width: 768px) and (max-width: 1280px) {
  .small_span_0 {
    width: 0;
    margin: 0;
  }

  .small_span_1 {
    width: 14.6%;
  }

  .small_span_2 {
    width: 31.3%;
  }

  .small_span_3 {
    width: 50%;
  }

  .small_span_4 {
    width: 66.6%;
  }

  .small_span_5 {
    width: 83.3%;
  }

  .small_span_6 {
    width: 100%;
  }
}

.container {
  width: 100%;
}

header {
  background: #3B5526;
  padding: 0.25em 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

header h1 {
  font-size: 1.75em;
  font-family: 'Gentium Basic', serif;
  display: inline-block;
  margin: 0 !important;
}

header h1 a:link, header h1 a:active, header h1 a:hover, header h1 a:visited {
  text-decoration: none;
  color: #FFF;
}

header img {
  vertical-align: middle;
  height: 1.75em;
}

/* Navigation */

#mobile-menu {
  display: inline-block;
  float: right;
  width: 1.75em;
  height: 1.75em;
  color: #FFF;
  font-size: 1.75em;
}

#mobile-menu i {
  display: block;
  text-align: center;
  line-height: 1.75;
  height: 100%;
}

#main-navigation {
  position: fixed;
  top: 3.5625em;
  width: 100%;
  z-index: 10000;
}

#main-navigation ul {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#main-navigation ul li {
  background-color: #3B5526;
  border-bottom: 1px solid #FFF;
}

#main-navigation ul li:hover, #main-navigation ul li.active {
  background-color: #81B953;
}

#main-navigation ul li.active {
  font-weight: bold;
}

#main-navigation a:link, #main-navigation a:visited, #main-navigation a:hover, #main-navigation a:active {
  color: #FFF;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.25em;
}

/* Body content */

#main {
  padding: 0 0.25em;
  margin-top: 4em;
}

#content {
  background: #FFF;
  border-radius: 7px;
  padding: 0.25em 0.5em;
  border: 1px solid #CCC;
}

.inner {
  margin: 0.25em 0 0.5em 0;
}

/* Sidebar */

.sidebar_card {
  border: 1px solid #CCC;
  border-radius: 7px;
  background: #FFF;
  margin-bottom: 2em;
  padding: 0.5em 1em 1em 1em;
}

.sidebar_card h3 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.date {
  font-weight: bold;
  display: block;
  margin-top: 0.5em;
}

#search-gamma input {
  display: block;
  width: 100%;
  font-family: monospace;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0.25em;
  margin: 0;
}

#search-gamma button {
  margin: 0 auto;
  display: block;
  border-radius: 0 0 3px 3px;
  padding: 0.5em 0.75em;
}

footer {
  color: #FFF;
  background: #3B5526;
  padding: 0.25em 0.5em;
  margin: 0 0.25em;
  border-radius: 7px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: #81B953;
}

/* Mobile landscape */

@media screen and (max-width: 767px) and (orientation: landscape) {
  /* Reduce size of top bar */
  header h1 {
    font-size: 1.4em;
  }

  header img {
    height: 1.4em;
  }

  #mobile-menu {
    width: 1.4em;
    height: 1.4em;
    font-size: 1.4em;
  }

  #mobile-menu i {
    line-height: 1.4;
  }

  #main-navigation {
    top: 2.85em;
    font-size: 0.8em;
  }
}

/* Tablet + Desktop */

@media screen and (min-width: 768px) {
  .container {
    width: 95%;
  }

  header {
    background: none;
    position: static;
  }

  header h1 {
    font-size: 2.1875em;
  }

  header h1 a:link, header h1 a:active, header h1 a:hover, header h1 a:visited {
    color: #3B5526;
    font-weight: bold;
  }

  header img {
    height: 67px;
    width: 100px;
    margin: 10px 0;
  }

  #mobile-menu {
    display: none;
  }

  #main-navigation {
    background: #3B5526;
    font-size: 0.9em;
    border-radius: 7px;
    position: static;
  }

  #main-navigation ul {
    padding: 0.25em;
  }

  #main-navigation ul li {
    display: inline-block;
    background: none;
    border: 0;
    border-radius: 5px;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }

  #main-navigation ul li:hover {
    background-color: #5B7745;
  }

  #main-navigation ul li.active {
    font-weight: bold;
    background-color: #81B953;
  }

  #main-navigation a:link, #main-navigation a:visited, #main-navigation a:hover, #main-navigation a:active {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 0.3em 0.5em;
  }

  #main {
    margin-top: 0;
  }

  #content {
    padding: 1em;
  }

  #sidebar {
    font-size: 0.9em;
  }

  .sidebar_card, #content {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
  
  section {
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border: 0;
  }

  body::-webkit-scrollbar-track {
    background: #EEE;
  }

  body::-webkit-scrollbar-track:hover {
    border: 1px solid #FFF;
  }

  ::-webkit-scrollbar-thumb {
    background: #CCC;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #777;
  }
}

/** Styles **/

body {
  font-family: 'Open Sans', sans-serif;
  background: #EEE;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  color: #3B5526;
  margin: 0.25em 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

#content ul, #sidebar ul {
  list-style-type: disc;
  margin: 0.5em 0 0.5em 2em;
}

p {
  margin-top: 0.5em;
  line-height: 1.5;
}

a:link {
  color: #4FAF00;
  text-decoration: none;
}

a:visited, a:active {
  text-decoration: none;
  color: #577C37;
}

a:hover {
  text-decoration: underline;
}

pre {
  white-space: pre;
  font-family: monospace;
  overflow-x: auto;
  font-size: 1em;
  margin: 0.5em 0;
}

/* Form elements */

button {
  font-family: inherit;
  background: #370C19;
  border: 0;
  color: #FFF;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin: 0;
  cursor: pointer;
}

button.disabled {
  cursor: default;
}

button:hover {
  background: #552634;
}

textarea {
  border: 1px solid #CCC;
}

select {
  font-family: 'Open Sans', sans-serif;
}

input, button, textarea {
  border-radius: 0;
}