.sympy-live-output {
    font-family: monospace;
    font-size: 1em;
    margin: 0;
    padding: 0.25em;
    width: 99%;
    height: 25em;
    overflow: auto;
    border: 0;
    background-color: #f5f5f5;
}

.sympy-live-output > div {
    white-space: pre;
}

.sympy-live-output > div.sympy-live-hidden {
    visibility: hidden;
}

.sympy-live-caret {
    font-family: monospace;
    font-size: 1em;
    width: 5%;
    border: 1px solid silver;
    margin: 0;
    padding: 5px;
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    resize: none;
}

.sympy-live-prompt {
    font-family: monospace;
    font-size: 1em;
    width: 93%;
    border: 1px solid silver;
    margin: 0;
    padding: 5px 0;
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
    outline: none;
    overflow: hidden;
    background-color: #f5f5f5;
    background-position: top right;
    background-repeat: no-repeat;
    resize: none;
}

.sympy-live-toolbar {
    margin: 5px 0 0 0;
}

.sympy-live-toolbar > * {
    margin-bottom: 0.5em;
}

button {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #552634;
  color: #FFF;
  padding: 0.25em;
  margin: 0;
  background-color: #552634;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#40252D, endColorstr=#370C19);
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

button:hover {
  background: #370C19;
}

.sympy-live-toolbar > button {
  margin-right: 0.5em;
  padding: 0.4em;
}

.sympy-live-toolbar > button:first-child {
  font-weight: bold;
}

.sympy-live-processing {
    background-image: url("/static/spinner.gif");
}

.sympy-live-toolbar > button.sympy-live-evaluate-disabled {
    background-color: #999;
    color: #000
}

.sympy-live-fullscreen-popup {
    background: #000;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    opacity: .8;
    text-align: center;
    line-height: 50px;
}

.sympy-live-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 100px;
  bottom: 0;
  background-color: rgba(1,1,1,0.8);
}

.sympy-live-dialog div {
  border: 1px solid #81B953;
  background-color: #FFF;
  padding: 0.5em;
}

.sympy-live-dialog div p {
  margin: 0.25em 0;
}

.sympy-live-dialog div textarea {
  width: 80%;
  display: block;
  margin: auto;
  height: 300px;
}

#make-one-off-button {
  float: right;
  background-image: url('/static/sympy-live/images/make_url.png');
  width: 32px;
  border: 0;
  background-color: transparent;
  padding: 0;
  height: 32px;
  background-size: 100%;
}

#make-one-off-button:hover {
  background-color: #AAA;
}

#settings label {
  display: inline-block;
  width: 35%;
}

#settings select {
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

#banner {
  display: none;
}

.content {
  padding: 0.1em;
}

#main {
  width: 65%;
}

#main .block .content {
  max-width: 100%;
}

#footer .block {
  max-width: 100%;
}

#sidebar {
  width: 30%;
}

#main h1 {
  display: none;
}

#main.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  min-width: 960px;
}

#main.fullscreen .sympy-live-output {
  width: 100%;
}

#main.fullscreen .sympy-live-caret {
  width: 2.5em;
}

#main.fullscreen .sympy-live-prompt {
  position: absolute;
  left: 2.5em;
  right: 0.1em;
  width: auto;
}

#main.fullscreen h1 {
  font-weight: 300;
  font-size: 2em;
  float: left;
  margin-left: 0.25em;
  display: block;
}

#main.fullscreen .content, #main.fullscreen .block {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: #DDD;
}

#main.fullscreen #shell {
  height: 100%;
}

#main.fullscreen #make-one-off-button {
  width: 100%;
  background-size: 32px 32px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}


/* Responsive design */

/* Phones */
@media screen and (max-device-width: 767px) {
  #main {
    float: right;
    width: 100%;
  }

  #sidebar {
    float: left;
    width: 100%;
  }

  #example, #other_shells {
    display: none;
  }

  .sympy-live-output, .sympy-live-caret, .sympy-live-prompt {
    font-size: 1em;
  }

  .sympy-live-caret {
    width: 15%;
  }

  .sympy-live-prompt {
    width: 83%;
  }

  .content {
    padding: 0;
  }
}